### Global ###
# this is generated
/dist

logs
*.log
crash.txt
npm-debug.log*
*.stackdump

pids
*.pid
*.seed

.npm
.vscode
.project
.settings
.DS_Store
.sass-cache
node_modules
*.sw*
.env

### Windows ###
*.lnk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Linux ###
*~
.directory
.Trash-*

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride
._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json

### WebStorm ###
.idea/*
# Icon must ends with two \r.
Icon

